.hover-enter {
  opacity: 0;
}
.hover-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.elert-enter-done {
  opacity: 1;
}

.hover-exit {
  opacity: 1;
}
.hover-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.hover-exit-done {
  opacity: 0;
}
